@{
    ViewData["Title"] = "Adriano Sena";
}

<div id="home" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 wow fadeIn" data-wow-delay="0.9s">
                <!-- <h3>Dry.Coding</h3>-->
                <h1>Adriano Sena</h1>
                <h2 class="rotate">DESIGNER &AMP; DENSENVOLVEDOR, ESPECIALISTA EM UI &AMP; UX</h2>
                <p>Desenvolvedor de sistemas Web, Desktop, Android e IOS </p>
                <a href="#work" class="btn btn-default smoothScroll wow fadeInUp" data-wow-delay="1s">Ver Mais</a>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<!-- end home -->
<!-- start work -->
<div id="work" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow bounce">
                <h2>O QUE EU FAÇO</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-object media-left">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Aplicativos Multiplataforma</h3>
                        <p>
                            Desenvolvimento de  aplicações Web, Windows, Android e IOS.
                            Utilizando .NET Framework, MAUI, cSharp
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-object media-left">
                        <i class="fa fa-link"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Linguagens</h3>
                        <p>Utilizamos Maui, HTML5, CSS3, JavaScript para Front End e cSharp para o Back End dos projetos</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-object media-left">
                        <i class="fa fa-paper-plane"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">UI &AMP; UX Design</h3>
                        <p>Desenvolvemos interfaces de usuários modernas e fácies de usar com uma ótima experiência </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end work -->
<!-- start about -->
<div id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-11 wow fadeInLeft" data-wow-delay="0.9s">
                <h2>SOBRE ADRIANO</h2>
                <h4>DESIGNER &AMP; DENSENVOLVEDOR</h4>
                <p>
                    Sou programador e trabalho com com as linguagens cSharp, javaScript, php, e também trabalho com banco de dados, apis
                    integração de sistemas entre outros.
                    Sou especialista em desenvolvimento Mobile, Desktop e Web
                    Desenvolvo aplicativos em Maui cSharp, asp.net, html JavaScript
                    Trabalho no mercado há mais de 5 anos com essas tecnologias
                </p>
                <p>
                    Tenho experiência com desenvolvimento de aplicativos para desktop, como programa de gestão, controle de boletos e relatórios, desenvolvimento de sites com apis e banco de dados mysql, Tenho experiência com de desenvolvimento mobile.
                    Já desenvolvi apps de gestão, lojas virtuais, apis de notas fiscais
                </p>
            </div>
            <div class="col-md-6 col-xs-11 wow fadeInRight" data-wow-delay="0.9s">
                <span class="text-top">Web Design <small>95%</small></span>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
                </div>
                <span>Mobile Apps <small>80%</small></span>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                </div>
                <span>SEO <small>70%</small></span>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                </div>
                <span>HTLM5 &AMP; CSS3 <small>75%</small></span>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                </div>
                <span>JavaScript <small>90%</small></span>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                </div>
                <span>cSharp <small>90%</small></span>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                </div>
                <span>PHP <small>65%</small></span>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end about -->
<!-- start portfolio
    <div id="portfolio" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounce">PORTFOLIO</h2>
            </div>
            <div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
                <div class="portfolio-thumb">
                    <img src="images/portfolio-img1.jpg" class="img-responsive" alt="portfolio img">
                        <div class="portfolio-overlay">
                            <h4>Web Design</h4>
                            <h5>Author: Cindy</h5>
                        </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
                <div class="portfolio-thumb">
                    <img src="images/portfolio-img2.jpg" class="img-responsive" alt="portfolio img">
                        <div class="portfolio-overlay">
                            <h4>Web App</h4>
                            <h5>Author: Linda</h5>
                        </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
                <div class="portfolio-thumb">
                    <img src="images/portfolio-img3.jpg" class="img-responsive" alt="portfolio img">
                        <div class="portfolio-overlay">
                            <h4>Mobile App</h4>
                            <h5>Author: Kate</h5>
                        </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
                <div class="portfolio-thumb">
                    <img src="images/portfolio-img4.jpg" class="img-responsive" alt="portfolio img">
                        <div class="portfolio-overlay">
                            <h4>Old Artwork</h4>
                            <h5>Author: Catherine</h5>
                        </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
                <div class="portfolio-thumb">
                    <img src="images/portfolio-img5.jpg" class="img-responsive" alt="portfolio img">
                        <div class="portfolio-overlay">
                            <h4>New Animation</h4>
                            <h5>Author: Kathy</h5>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
 end portfolio -->
<!-- start contact -->
<div id="contact" class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <address>
                    <p class="contact-title">CONTATOS</p>
                    <p><i class="fa fa-phone"></i> +55 (64) 9 3300-4882</p>
                    <p><i class="fa fa-envelope-o"></i> dry@AdrianoSenaDev.dev.br</p>
                    <p><i class="fa fa-map-marker"></i> Chapadão do Céu-GO</p>
                </address>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-10 wow fadeInUp" data-wow-delay="0.6s">
                <form role="form" method="post" action="#">
                    <input name="nome" type="text" class="form-control" id="name" placeholder="Seu Nome">
                    <input name="email" type="email" class="form-control" id="email" placeholder="Seu Email">
                    <textarea name="menssagem" rows="5" class="form-control" id="message" placeholder="Sua Menssagem"></textarea>
                    <input name="send" type="submit" class="form-control" id="send" value="Enviar">
                </form>
            </div>
            <div class="col-md-1 col-sm-1"></div>
        </div>
    </div>
</div>
<!-- end contact -->